.card-container{
    background: #0070f3;
    width:100%;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
}

.card-box{
    text-align: center;
    color: #efebbe;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.card-contain{
    background: #0070f3;
    display: flex;

    -webkit-box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.75);
}

.card-item {
    padding: 20px;
}

.card-image {
    border: inset ;
    border-radius:50%;
    width:180px;
    height:180px;
}


.card-title {
    color: #fafafa;
    border-radius: 25%;
    padding: 2px;
}

@media (max-width: 919px) {

}
