.card-off {
    display: none
}

.card-on {
    display: flex;
    width: 600px;
    height: 340px;
}

.contain-card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    background: red;
}

.box-card{
    display: flex;
    width: 100%;
    padding-top:20px;
    padding-bottom:20px;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

    .box-card-one{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        background: pink;
        padding-top:20px;
        padding-bottom: 20px;
    }

.box-list{

}
