.card-container{
    align-content: center;
    align-items: center;
    background: #66d7d1;
    display: flex;
    width:100%;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.card-box{
    text-align: center;
    color: #efebbe;
}

.card-contain{
    display: flex;
    padding: 10px;
    margin: 15px 50px;
    border-radius: 3%;

    -webkit-box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.75);
}

.card-item {
    padding: 20px;
}

.card-image {
    border: inset ;
    border-radius:50%;
    width:180px;
    height:180px;
}

.card-title {
    color: #fafafa;
    padding: 2px;
}

.card-text {
    color: gray;
}

@media (max-width: 919px) {

    .col-md{
        display: none;
    }

    .card-contain{
        margin: 15px 40px;
    }

    .card-item {
        width: 100%;
    }

    .card-image {
        border: inset ;
        border-radius:25%;
        width:180px;
        height:180px;
    }
}
