.box-login{
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    padding-top: 20px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    color: #0099ff;
    font-size: 1rem;
    font-weight: bold;
    background: #b2f9ff; background: -moz-linear-gradient(135deg,  #b2f9ff 0%,#efebbe 100%); background: -webkit-linear-gradient(135deg,  #b2f9ff 0%,#efebbe 100%); background: linear-gradient(135deg,  #b2f9ff 0%,#efebbe 100%);
}

.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.form-title{
    color: #1c5488;
    font-size: 2rem;
}

.input {
    margin-top: 10px;
    padding: 8px;
    font-size: 15px;
}

.input:focus{
    outline: none;
}

.button{
    margin-top: 1rem;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #f6f6f6;
    background: gray;
}

.button:focus{
    outline: none;
}

.error{
    color: red;
    text-align: center;
    align-content: center;
    padding: 5px;
}


