.box-navbar {
    width: 100%;
    height: 70px;
    background: #ff637d;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
}

.box-contain-one{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.box-one{
    background: green;
}

.navbar-one{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.navbar-title{
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
    padding: 10px;
}

.navbar-title:hover{
    color: gray;
}

.navbar-logo {
    width: 70px;
    height: 70px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar-icon {
    display: none;
}

.col-mf{
    display: none;
}

.menu{
    display: none;
}

@media (max-width: 919px) {
    .col-md {
        display: none;
    }

    .navbar-icon {
        display: block;
        width: 30px;
        height: 30px;
        margin-left: 1rem;
        margin-right: 1rem;
        opacity: 0.5;
    }

    .contain{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-content: center;
        align-items: center;
    }

    .menu{
        background: #f4f1bb;
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 65px;
        width: 100%;
    }

    .menu-title{
        font-size: 15px;
        display: block;
        padding-left:20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .menu-title:hover {
        background: #ff637d;
        opacity: 0.5;
        color: #f6f6f6;
    }

    .icon {
        display: block;
        width: 20px;
        height: 20px;
        opacity: 0.5;
        margin-right: 10px;
    }
}



